.wjs-accordion {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.wjs-accordion ul.wjs-accordion-list {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 1px solid silver;
}
.wjs-accordion li.wjs-accordion-item {
}
.wjs-accordion div.wjs-accordion-item-caption {
	line-height: 24px;
	background-color: whitesmoke;
	text-indent: 10px;
	cursor: pointer;
	border: 1px solid whitesmoke;
	border-bottom-color: white;
}
.wjs-accordion div.wjs-accordion-item-caption:hover {
	background-color: silver;
	color: black;
}
.wjs-accordion div.wjs-accordion-item-caption:hover img.wjs-action-icon2 {
	opacity: 1.0;
}
.wjs-accordion div.wjs-accordion-item-caption-active {
	background-color: gainsboro;
	border-color: gainsboro;
	color: black;
}
.wjs-accordion div.wjs-accordion-item-caption-active img.wjs-action-icon2 {
	opacity: 1.0;
}
.wjs-accordion div.wjs-accordion-item-body {
	padding: 5px;
	max-height: 300px;
	overflow: auto;
}