.wjs-buttonbar {
	margin: 5px;
}
.wjs-buttonbar div.wjs-buttonbar-caption {
	line-height: 30px;
	margin-right: 10px;
	float: left;
	display: block;
	white-space: nowrap;
}
.wjs-buttonbar button.wjs-buttonbar-button {
	line-height: 20px;
	pointer: cursor;
	margin: 3px 5px;
	opacity: 0.8;
}
.wjs-buttonbar button.wjs-buttonbar-button-disabled {
	display: none;
}
.wjs-buttonbar button.wjs-buttonbar-button-hover:hover {
	opacity: 1.0;
}
.wjs-buttonbar button.wjs-buttonbar-button img.l {
	float: left;
	margin: 0 5px 1px 0;
}
.wjs-buttonbar button.wjs-buttonbar-button img.r {
	float: right;
	margin: 0 0 1px 5px;
}