.wjs-dataview {
	position: absolute;
	top: 5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
}
.wjs-dataview div.wjs-dataview-row {
	clear: both;
	margin: 10px;
}
.wjs-dataview div.wjs-dataview-item-wrap {
	float: left;
	margin: 10px;
	border: 1px solid gainsboro;
	border-radius: 8px;
	box-shadow: 3px 3px 3px #cdcdcd;
}
.wjs-dataview div.wjs-dataview-item-wrap:hover {
	background-color: whitesmoke;
}
.wjs-dataview div.wjs-dataview-item-active {
	background-color: gainsboro;
	border-radius: 8px;
}
.wjs-dataview div.wjs-dataview-footer {
	clear: both;
	line-height: 24px;
	height: 34px;
	background-color: gainsboro;
	border: 1px solid transparent;
	border-radius: 8px;
	margin-bottom: 5px;
}
.wjs-dataview div.wjs-dataview-info {
	float: left;
	max-width: 250px;
	white-space: nowrap;
	margin: 2px 5px;
	line-height: 28px;
}
.wjs-dataview div.wjs-dataview-ctrl {
	float: right;
	margin: 2px 5px;
}