.wjs-panelbar {
	position: absolute;
}
.wjs-panelbar ul.wjs-panelbar-list {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 30px;
}
.wjs-panelbar li.wjs-panelbar-item {
	position: relative;
	background-color: white;
	border-radius: 8px;
	cursor: pointer;
	color: gray;
	line-height: 20px;
	float: left;
	display: block;
	margin: 0;
	padding: 0;
}
.wjs-panelbar li.wjs-panelbar-item-active {
	color: black;
	background-color: whitesmoke;
}
.wjs-panelbar li.wjs-panelbar-item:hover {
	background-color: whitesmoke;
	color: black;
}
.wjs-panelbar div.wjs-panelbar-panels {
	position: absolute;
	left: 0;
	right: 0;
	top: 32px;
	bottom: 0;
	overflow: auto;
}
.wjs-panelbar div.wjs-panelbar-item-body {
	position: absolute;
	left: 2px;
	right: 2px;
	top: 2px;
	bottom: 2px;
}
.wjs-panelbar li.wjs-panelbar-item-icon {
	margin-right: 22px;
}
.wjs-panelbar li.wjs-panelbar-item img.wjs-action-icon {
	position: absolute;
	top: 2px;
	right: 2px;
}
.wjs-panelbar li.wjs-panelbar-item div.wjs-panelbar-caption {
	white-space: nowrap;
	padding: 5px;
	text-align: center;
}