.wjs-stack {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.wjs-stack div.wjs-stack-panels {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.wjs-stack div.wjs-stack-panel {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.wjs-stack div.wjs-stack-panel-caption {
	line-height: 26px;
	background-color: #347bb1;
	text-indent: 10px;
	cursor: pointer;
	font-size: 11pt;
	font-weight: bold;
	color: white;
}
.wjs-stack div.wjs-stack-panel-body {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
}
.wjs-stack div.wjs-stack-panel-caption-body {
	position: absolute;
	top: 26px;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
}