.wjs-timeline {
	border: 1px solid gainsboro;
	border-radius: 8px;
}
.wjs-timeline div.wjs-timeline-caption {
	line-height: 24px;
	background-color: whitesmoke;
	text-indent: 10px;
	border: 1px solid whitesmoke;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	color: black;
}
.wjs-timeline div.wjs-timeline-item {
	margin: 2px 0;
	padding: 2px 0;
	border-bottom: 1px solid whitesmoke;
	line-height: 20px;
	clear: both;
	height: 24px;
}
.wjs-timeline div.wjs-timeline-item:hover {
	color: black;
	background-color: whitesmoke;
}
.wjs-timeline div.wjs-timeline-item-caption {
	float: left;
	font-size: 10pt;
	margin: 2px 0;
	line-height: 20px;
	color: black;
	text-indent: 5px;
}
.wjs-timeline div.wjs-timeline-item-bar {
}
.wjs-timeline div.wjs-timeline-item-span-bar {
	height: 12px;
	background-color: silver;
	margin: 6px 0 2px 0;
}