.wjs-dialog {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border: 1px solid silver;
	border-radius: 8px;
	box-shadow: 3px 3px 3px #cdcdcd;
	z-index: 9000;
	background-color: white;
}
.wjs-dialog div.wjs-dialog-caption {
	line-height: 24px;
	background-color: whitesmoke;
	text-indent: 10px;
	border: 1px solid whitesmoke;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-color: white;
}
.wjs-dialog div.wjs-dialog-body {
	position: absolute;
	top: 25px;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
	padding: 5px;
}
.wjs-dialog-mask {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: white;
	opacity: 0.8;
	z-index: 8000;
}