
body {
	margin: 0;
	border: 0;
	font-family: arial, san-serif;
	font-size: 11pt;
	color: #4d4d4d;
}
img.wjs-action-icon {
	width: 16px;
	height: 16px;
	opacity: 0.3;
	cursor: pointer;
	float: right;
}
img.wjs-action-icon:hover,
img.wjs-action-icon2:hover {
	opacity: 1.0;
}
img.wjs-action-icon2 {
	width: 16px;
	height: 16px;
	opacity: 0.3;
	cursor: pointer;
	float: left;
}
button,
.wjs-pointer {
	cursor: pointer;
}
button.wjs-button {
	line-height: 20px;
	pointer: cursor;
	border: 1px solid silver;
	border-radius: 8px;
	margin: 3px 5px;
	color: #4d4d4d;
	opacity: 0.8;
}
button.wjs-button-disable {
	opacity: 0.4;
}
button.wjs-button-hover:hover {
	background-color: gainsboro;
	border-color: black;
	color: black;
	opacity: 1.0;
}
button.wjs-button img.l {
	float: left;
	margin: 0 5px 1px 0;
}
button.wjs-button img.r {
	float: right;
	margin: 0 0 1px 5px;
}
p {
	margin: 5px;
	text-indent: 10px;
}
.wjs-error {
	margin: 10px;
	padding: 5px;
	border: 1px solid maroon;
	border-radius: 8px;
	box-shadow: 3px 3px 3px #cdcdcd;
	background-color: rgba(255,0,0,0.1);
	color: maroon
}
