.wjs-spinner {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border: 1px solid silver;
	border-radius: 8px;
	box-shadow: 3px 3px 3px #cdcdcd;
	z-index: 9000;
	background-color: white;
	padding: 5px;
}
.wjs-spinner img.wjs-spinner-icon {
	margin-right: 10px;
	float: left;
}
.wjs-spinner div.wjs-spinner-caption {
	line-height: 32px;
}
.wjs-spinner-mask {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: white;
	opacity: 0.8;
	z-index: 8000;
}